# Dependencies
/node_modules
/server/node_modules
/client/node_modules
/.pnp
.pnp.js

# Production
/build
/client/.next

# Misc
.DS_Store
.env
server/.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
